<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :location  %><br />
  <%= f.text_field :location %></div>

  <div><%= f.label :email %><br />
  <%= f.text_field :email %></div>

  <h3>Current Profile Picture</h3>
  
  <% resource.photos.each do |photo| %>
  <div>
    <%= link_to(photos_path(id: photo.id), method: :delete, :remote => true)  do %>
      <%= image_tag photo.image_url, class: 'profile_picture' %>
    <% end %>
  </div>
  <% end %>

  <h3>Pick a Picture</h3>


  <% resource.profile_pictures.each do |photo| %>
    <div>
    <%= link_to(photos_path(image_url: photo['images'][0]['source']), method: :post, :remote => true)  do %>
      <%= image_tag photo['images'][0]['source'], class: 'fb_picture' %>
    <% end %>
    </div>
  <% end %>

  <% resource.tagged_pictures.each do |photo| %>
    <div>
    <%= image_submit_tag photo, class: 'fb_picture' %>
    </div>
  <% end %>


  <div><%= f.submit "Update" %></div>
<% end %>


<%# button_to 'Update Pictures', new_user_photos_path(resource), :method => :get %>





<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>


<script>

  function saveImageToPhoto(imagesource) {

    console.log( imagesource )

  };


$(window).load (function() {


  $('.fb_picture').click (function() { 

    saveImageToPhoto( $(this).attr('src') ) 

  });
  
});



</script>