<div class='photo-error alert fade in alert-danger alert-dismissable'></div>

<div class="container">
  <h2>Edit <%= "#{current_user.name.split[0]}"%></h2>
  <div class="row">
    <div class="col-md-4">
    <h3>Info</h3>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %><br />
      <%= f.text_field :name, :autofocus => true %></div>

      <div><%= f.label :gender  %><br />
      <%= f.select( :male, options_for_select([['Male', true], ['Female', false]], :selected => resource.male)) %></div>

      <div><%= f.label :birthday  %><br />
      <%= f.text_field :birthday %></div>

      <div><%= f.label :location  %><br />
      <%= f.text_field :location %></div>

      <div><%= f.label :email %><br />
      <%= f.text_field :email %></div>

      <div><%= f.submit "Update" %></div>

    </div>
    <div class="col-md-8">
    <h3>Profile Pictures</h3>

      <div id='user-profile'>

      <% resource.photos.each do |photo| %>

        <div class='profile-pictures-container'>

          <%= link_to(photos_path(id: photo.id), method: :delete, :remote => true, class: 'image-deleter')  do %>

          <% if photo.profile_picture == true %>
          
            <%= image_tag photo.image_url, class: 'profile-picture' %>

          <% end %>
        
        <% end %>

        </div>

      <% end %>

      </div>
      <button id='more_images'>Select from more images</button>
      <% end %>

    </div>
  </div>


  </div>

</div>

  <div class='fb-selection'>

    <h4>Click on a picture to select</h4>

    <% resource.photos.each do |photo| %>

    <div class='select-pictures-container'>

      <%= link_to(photos_path(image_url: photo['image_url']), method: :patch, :remote => true, class: 'image-adder') do %>

        <%= image_tag photo['image_url'], class: 'fb_picture' %>
    
    <% end %>
    
    <div>

    <% end %>
  





  

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>  -->



<script>


$(document).ready(function(){

  $('.fb-selection').hide();

  $('#more_images').click (function(event) {
    event.preventDefault();
    $('.fb-selection').slideDown();
  });

  $('#user-profile').on('ajax:success', '.image-deleter', function() {
    $(this).remove();
  }).on('ajax:error', function(e, data) {
    $('.photo-error').show().html(data.responseJSON.message)
  });

  $('.image-adder').on('ajax:success', function(xhr, photo) {
    $(this).attr('class', 'image-deleter')
    $(this).data('method', 'delete')
    $(this).attr('href', '/photos?id=' + photo.id)
    $('#user-profile').append($(this));
    $(this).children().attr('class', 'profile-picture');
  }).on('ajax:error', function(e, data) {
    $('.photo-error').show().html(data.responseJSON.message)
  });

  $('.photo-error').click( function() { 
    $(this).hide() 
  });

});


</script>