
<h1>
  My Mixtape Match's
</h1>

<div id="slider"></div>
<div id="age-range"></div>

<%= select_tag(:gender, options_for_select([['Female', 'Female'],['Male', 'Male']], :selected => params[:gender])) %>





<% user_mix = current_user.mixtape.tracks %>




<% @mixtapes.each do |mixtape| %>
  
  
  <% if mixtape.user_id != nil && mixtape.user_id != current_user.id %>

  <div class='matchee-profile'>
  

   <div class='match-value'><%= match_rate(user_mix, mixtape.tracks) %></div>

    <h2>
    <%= mixtape.title %>
    </h2>
    <% mixtape.tracks.each do |track| %>

      <h3><%= track.artist %></h3>

      <h4><%= track.song %></h4>

    <% end %>

    <% user = User.find(mixtape.user_id) %>

    <%= user.name %>

    <%= user.age %>

    <%= user.location %>

    <div class='gender' data-attribute='<%= user.gender %>'><%= user.gender %></div>

    <% user.photos.each do |photo| %>

        <% if photo.profile_picture? %>

          <%= image_tag photo.image_url, class: 'profile-picture' %>

        <% end %>

    <% end %>

  </div>

  <% end %>

<% end %>


<script>
  window.minAge = 20;

  window.maxAge = 35;
  
  sortMatches = function() {
    return $('.matchee-profile').tsort('.match-value', { order: 'desc'});
  };

  
  


$(document).ready(function() {

  $('#age-range').html( window.minAge +' - ' + window.maxAge );

  sortMatches();
  
  $('#slider').slider({
      range: true,
      min: 18,
      max: 100,
      values: [ 20, 35 ]
    });

  $('#slider').on( 'slidechange', function( event, ui ) {
      window.minAge = ui.values[0];
      console.log(window.minAge);
  });
  
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.maxAge = ui.values[1];
      console.log(window.maxAge);
      $('#age-range').html( window.minAge +' - ' + window.maxAge );
  });

  // var genderSelection = $('#gender').find('option:selected');

  // genderSelection.on( '')

  $('#gender').change( function() {
    
    var genderPreference = $(this).find('option:selected').val();
    var matchee = $('.matchee-profile');

    $.each( matchee, function() {
      var matcheeGender = $(this).children('.gender').attr('data-attribute');

      if ( genderPreference != matcheeGender ) {
        $(this).hide();
      }
      else
      {
        $(this).show();
      };


      // console.log( $(this).children('.gender').attr('data-attribute') )
    });


    // console.log( genderPreference );
    // console.log( matcheeGender ); 
    
    // console.log( $(this).find('option:selected').val() );



    // $('.matchee-profile').children('.gender').attr('data-attribute')


  });



  // $( "#slider" ).on( "slidechange", function( event, ui ) {
  //   console.log(window.minAge);
  //   console.log(window.maxAge);
  // });
  
  
});



</script>
