
<h1>
  My Mixtape Match's
</h1>

<div id="slider"></div>
<div id="age-range"></div>
<div id='my_gender' data-attribute='<%= current_user.gender %>'></div>

<%= select_tag(:gender, options_for_select([['Female', 'Female'],['Male', 'Male']], :selected => params[:gender])) %>


<% user_mix = current_user.mixtape %>


<% @mixtapes.each do |mixtape| %>

  <% if mixtape.user && mixtape.user != current_user && !mixtape.blocked?(user_mix) %>

  <div class='matchee-profile'>
  
    <div class='matchee-mix'>

     <div class='match-value'><%= user_mix.match_rate(mixtape.tracks) %></div>

      <h2>
      <%= mixtape.title %>
      </h2>
      <div class='link', data-id='<%= mixtape.user_id %>'>
      <%= button_to 'Like me!', mixtape_likes_path( mixtape , like: true, block: false), remote:true %>
      <%= button_to 'Dislike!', mixtape_likes_path( mixtape , block: true, like: false), remote: true %>
      </div>

      <% mixtape.tracks.each do |track| %>

        <h3><%= track.artist %></h3>

        <h4><%= track.song %></h4>

      <% end %>

    </div>

      <% user = User.find(mixtape.user_id) %>

      <%= user.name %>

      <div class='age' data-attribute='<%= user.age %>'><%= user.age %></div>

      <%= user.location %>

      <div class='gender' data-attribute='<%= user.gender %>'><%= user.gender %></div>

      <%= link_to "New Message", new_message_path(send_to: user) %>
      
      <div class='profile-picture-holder' data-attribute='<%= user.id %>'>
      
      <% user.photos.each do |photo| %>

          <% if photo.profile_picture? %>

            <%= image_tag photo.image_url, class: 'profile-picture matchee' %>

            

          <% end %>

      <% end %>
    </div>

  </div>

  <% end %>

<% end %>


<script>

  window.minAge = 20;
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.minAge = ui.values[0];
  });
  

  window.maxAge = 35;
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.maxAge = ui.values[1];
  });

  $('#gender').change( function() {
    window.genderPreference = $(this).find('option:selected').val();
  });


  function filteringMatches() {

    var matchee = $('.matchee-profile');
    var minAge = window.minAge
    var maxAge = window.maxAge
    var genderPreference = window.genderPreference

    $.each( matchee, function() {
      
      var matcheeGender = $(this).children('.gender').attr('data-attribute');
      var matcheeAge = $(this).children('.age').attr('data-attribute');

      if ((matcheeGender == genderPreference) && (minAge <= matcheeAge && matcheeAge <= maxAge)) {
        $(this).show()
      }
      else
      {
        $(this).hide()
      } 
    
    });
  
  };


  function sortMatches() {
    
    return $('.matchee-profile').tsort('.match-value', { order: 'desc'});
  
  };

  function updateAgeRange() {

    $('#age-range').html( window.minAge + ' - ' + window.maxAge )

  };

  function defaultGenderSetting() {

    if ($('#my_gender').attr('data-attribute') == 'Male') {
      $('#gender').select('option:selected').val('Female');
    }
    else
    {
      $('#gender').select('option:selected').val('Male');
    };
    window.genderPreference = $('#gender').find('option:selected').val();
  };

  function showNext(parent, index, length) {
    if ( index === length ) {
      var next = 0
    }
    else
    {
      var next = index + 1
    }
    parent.children('img').each( function(i) {
      if ( i === next ) {
        $(this).show()
        return false
      }

    });
  };


$(document).ready(function() {

  $('#slider').slider( {
      range: true,
      min: 18,
      max: 100,
      values: [ 20, 35 ]
  });

  defaultGenderSetting();

  sortMatches();

  filteringMatches();

  updateAgeRange();

  $('#slider').on( 'slidechange', function() {

    filteringMatches();
    updateAgeRange();

  });

  $('#gender').change( function() {

    filteringMatches();
    updateAgeRange();

  }); 

  $('.profile-picture-holder').click( function() {

    var match_id = $(this).attr('data-attribute');
    var my_match = $('.profile-picture-holder[data-attribute="' + match_id + '"]').children('img') 
    var length = my_match.length - 1

    my_match.each( function(index) {

      if ( $(this).attr('style') !== "display: none;" ) {
        $(this).hide()
        var hidden = index
        var parent = $(this).parent()
        showNext( parent, index, length )
        return false
      };
    });
  });

  $('.profile-picture-holder').each( function() {

    $(this).children('img').each( function(index) {
      if ( index === 0 ) {
        $(this).show()
      }
      else
      {
        $(this).hide()
      }

    });
  });
  
});



</script>
