<h1>My Mixtape Match's</h1>
<div id="slider"></div>
<div id="age-range"></div>
<div id='my_gender' data-attribute='<%= current_user.gender %>'></div>

<%= select_tag(:gender, options_for_select([['Female', 'Female'],['Male', 'Male']], :selected => params[:gender])) %>



<% user_mix = current_user.mixtape %>


<% @mixtapes.each do |mixtape| %>

  <% if mixtape.user && mixtape.user != current_user && !mixtape.blocked?(user_mix) %>

  <div class='matchee-profile'>

     <div class='match-value'><%= user_mix.match_rate(mixtape.tracks) %></div>


    <% user = User.find(mixtape.user_id) %>

    <div id='mini-wrapper'>
      <div id='mini-profile-container' data-attribute='<%= user.id %>'>
        <div class='front'>
          <div class='mini-info fa'>
            <h4 class='profile-name' data-attribute='<%= user.gender %>'>
            <%= "#{user.name.split[0]}"%>,  <div class='age' data-attribute='<%= user.age %>'><%= user.age %></div>
            <br/>
            <%= user.location =%>
            </h4>
          </div>
          <div class='mini-menu'>
            <ul>
              <li> <%= link_to mixtape_likes_path( mixtape , like: true, block: false), remote:true  do %>
              <i class='fa fa-check'></i>
              <% end %>
              </li> 
              <li> <%= link_to mixtape_likes_path( mixtape , block: true, like: false), remote:true  do %>
              <i class='fa fa-times'></i>
              <% end %>
              </li>
              <li> <%= link_to new_message_path(send_to: user) do %>
               <i class='fa fa-envelope'></i>
               <% end %>
               </li>
              <li class="photo"> <a href="#" class="fa fa-picture-o" ></a> </li>
              <li> <a href="#" class="fa fa-volume-up flipper toback" ></a> </li>
            </ul>
          </div>
          <div class='mini-profile-container'>
          <%= image_tag "mixtapespinner.gif", class: 'spinner-gif' %>
            <div class='mini-profile-picture-holder' data-attribute='<%= user.id %>'>

            <% user.photos.each do |photo| %>
                <% if photo.profile_picture? %>
                  <%= image_tag photo.image_url, class: 'mini-profile matchee' %> 
                <% end %>
              <% end %>      
            </div>
          </div>
        </div>
        <div class='back'>
          <a href='#' class='add-track back-button flipper'> Back </a>
          <div class='mix-title'>
          <%= mixtape.title %></div>
          <ul class='mix-listing'>
            <% mixtape.tracks.each do |track| %>
            <li class="cassette-track" data-echonest-song-id="{{ echonest_song_id }}"><audio src="<%= track.preview_url %>" controls></audio><span> <%= track.artist %> - <%= track.song %></span></li>
            <% end %>
            </ul>
        </div>
      </div>
    </div> 
    <div class='profile-picture-holder' data-attribute='<%= user.id %>'>        
    </div>
  </div>
  <% end %>
<% end %>


<script>

  window.minAge = 20;
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.minAge = ui.values[0];
  });
  

  window.maxAge = 35;
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.maxAge = ui.values[1];
  });

  $('#gender').change( function() {
    window.genderPreference = $(this).find('option:selected').val();
  });


  function filteringMatches() {

    var matchee = $('.matchee-profile');
    var minAge = window.minAge
    var maxAge = window.maxAge
    var genderPreference = window.genderPreference

    $.each( matchee, function() {
      
      var matcheeGender = $(this).find('.profile-name').attr('data-attribute');
      var matcheeAge = $(this).find('.age').attr('data-attribute');

      if ((matcheeGender == genderPreference) && (minAge <= matcheeAge && matcheeAge <= maxAge)) {
        $(this).show()
      }
      else
      {
        $(this).hide()
      } 
    
    });
  
  };


  function sortMatches() {
    
    return $('.matchee-profile').tsort('.match-value', { order: 'desc'});
  
  };

  function updateAgeRange() {

    $('#age-range').html( window.minAge + ' - ' + window.maxAge )

  };

  function defaultGenderSetting() {

    if ($('#my_gender').attr('data-attribute') == 'Male') {
      $('#gender').select('option:selected').val('Female');
    }
    else
    {
      $('#gender').select('option:selected').val('Male');
    };
    window.genderPreference = $('#gender').find('option:selected').val();
  };

  function showNext(parent, index, length) {
    if ( index === length - 1 ) {
      var next = 0
    }
    else
    {
      var next = index + 1
    }
    parent.children('img').each( function(i) {
      if ( i === next ) {
        $(this).show()
        return false
      }

    });
  };

  function showPrevious(parent, index, length) {
    if ( index === 0 ) {
      var next = length - 1
    }
    else
    {
      var next = index - 1
    }
    parent.children('img').each( function(i) {
      if ( i === next ) {
        $(this).show()
        return false
      }

    });
  };

  function orientate(image) {

  console.log(image)
  console.log(image.width() >= image.height())

  if (image.width() >= image.height()) {
    image.addClass('landscape')
  }
  else
  {
    image.addClass('portrait')
  }
}


$(document).ready(function() {

  $('#slider').slider( {
      range: true,
      min: 18,
      max: 100,
      values: [ 20, 35 ]
  });

  defaultGenderSetting();

  sortMatches();

  filteringMatches();

  updateAgeRange();

  $('#slider').on( 'slidechange', function() {

    filteringMatches();
    updateAgeRange();

  });

  $('#gender').change( function() {

    filteringMatches();
    updateAgeRange();

  }); 

  $('.profile-picture-holder').click( function() {

    var match_id = $(this).attr('data-attribute');
    var my_match = $('.profile-picture-holder[data-attribute="' + match_id + '"]').children('img') 
    var length = my_match.length

    my_match.each( function(index) {

      if ( $(this).attr('style') !== "display: none;" ) {
        $(this).hide()
        var hidden = index
        var parent = $(this).parent()
        showNext( parent, index, length )
        return false
      };
    });
  });

  $('.profile-picture-holder').each( function() {

    $(this).children('img').each( function(index) {
      if ( index === 0 ) {
        $(this).show()
      }
      else
      {
        $(this).hide()
      }

    });
  });

  $('li.photo').click( function(event) {

    event.preventDefault();
    var match_id = $('li.photo').parentsUntil('#mini-wrapper').find('.mini-profile-picture-holder').attr('data-attribute');
    var my_match = $('.mini-profile-picture-holder[data-attribute="' + match_id + '"]').children('img.mini-profile'); 
    var length = my_match.length

    my_match.each( function(index) {
      if ( $(this).attr('style') !== "display: none;" ) {
        $(this).hide()
        var hidden = index
        var parent = $(this).parent()
        showNext( parent, index, length )
        return false
      };
    });
  });


  $('.flipper').click(function(e) {
    e.preventDefault()

    var match_id = $(this).parentsUntil('#mini-wrapper').find('.mini-profile-picture-holder').attr('data-attribute');

    $('#mini-profile-container[data-attribute="' + match_id + '"]').toggleClass('flipped');

  });


  $('.mini-profile-picture-holder').each( function() {

    $(this).children('img').each( function(index) {

      $(this).hide()

    });
  });



  
});

$(window).load(function(){
  $('.mini-profile-picture-holder').each( function() {

    $(this).children('img').each( function(index) {

      if ( index === 0 ) {
        orientate($(this))
        $(this).show()
      }
      else
      {
        orientate($(this))
        $(this).hide()
      }

    $('.spinner-gif').hide()

    });
  });
})



</script>
