  <link rel="stylesheet" type="text/css" media="all" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">

<h1>
  My Mixtape Match's
</h1>

<div id="slider"></div>
<div id="age-range"></div>


<% user_mix = current_user.mixtape.tracks %>




<% @mixtapes.each do |mixtape| %>
  
  
  <% if mixtape.user_id != nil && mixtape.user_id != current_user.id %>

  <div class='matchee-profile'>
  

   <div class='match-value'><%= match_rate(user_mix, mixtape.tracks) %></div>

    <h2>
    <%= mixtape.title %>
    </h2>
    <% mixtape.tracks.each do |track| %>

      <h3><%= track.artist %></h3>

      <h4><%= track.song %></h4>

    <% end %>

    <% user = User.find(mixtape.user_id) %>

    <%= user.name %>

    <%= user.age %>

    <%= user.location %>

    <%= user.gender %>

    <% user.photos.each do |photo| %>

        <% if photo.profile_picture? %>

          <%= image_tag photo.image_url, class: 'profile-picture' %>

        <% end %>

    <% end %>

  </div>

  <% end %>

<% end %>


<script>
  window.minAge = 20;

  window.maxAge = 35;
  
  sortMatches = function() {
    return $('.matchee-profile').tsort('.match-value', { order: 'desc'});
  };

  $('#slider').slider({
      range: true,
      min: 18,
      max: 100,
      values: [ 20, 35 ],
      slide: function( event, ui ) {
        $('#age-range').html( window.minAge +' - ' + window.maxAge );
      }
    });

  $( "#slider" ).on( "slidechange", function( event, ui ) {
    console.log(window.minAge);
    console.log(window.maxAge);
  });


$(document).ready(function() {

  sortMatches();
  
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.minAge = ui.values[0]
  });
  $('#slider').on( 'slidechange', function( event, ui ) {
      window.maxAge = ui.values[1]
  });
  
  console.log(window.minAge);
  console.log(window.maxAge);

});



</script>
