<div class="container-fluid">
  <div class="row">
    <h3>Add A Song</h3>
    <%= render 'add_track_form' %>

    <%= render 'mixtape_name_form', button_text: 'RECORD TAPE' %>
  </div>
</div> <!--container -->

<%= @mixtape.id %>
<%= @mixtape.tracks.inspect %>

<h3>{{title}}</h3>
<div class="track-listing">
</div>  
<script type='text/template' id='playlist-template'>

  <div class='track'>
    <h3>{{song}}</h3> <h4>{{artist}}</h4>
    {{id}}

    <a class="delete-track" href="/mixtapes/<%= @mixtape.id %>/tracks/{{{id}}}">Delete</a>
  </div>

</script>
