<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
    <h3>Add A Song</h3>
    <%= render 'add_track_form' %>

    <%= render 'mixtape_name_form', button_text: 'RECORD TAPE' %>
    </div><!--column left -->
  
    <div class="col-md-4">
      <h2>{{title}}</h2>
      <div class="track-listing">
        <% @tracks.each do |track| %>
          <%= render 'track', mustache: track.as_json.merge(mixtape_id: @mixtape.id) %>
        <% end %>
      </div>  
    </div><!--column right -->

  </div><!--row -->
</div> <!--container -->

<br>
<%= @mixtape.id %>
<br>
<%= @mixtape.tracks.inspect %>

<script type='text/template' id='playlist-template'>
  <%= render 'track' %>
</script>

<%= link_to 'Show Tracks', mixtape_tracks_path(@mixtape) %>