<h1>
<%= @mixtape.title %>
</h1>

<% @mixtape.tracks.each do |track| %>


  <div class='track-title'>
  <h2 ><%= track.artist %></h2>
  </div>
  <h3 ><%= track.song %></h3>

<% end %>

<% if current_user.matches.any? %>

<h2> My Matches </h2>

  <% current_user.matches.each do |match| %>

    <h3><%= match.name %></h3>

  <% end %>

<% end %>



<% user = current_user %>

<div id='mini-wrapper'>
  <div id='mini-profile-container'>
    <div class='front'>
      <div class='mini-info fa'>
        <h4 class='profile-name'>
        <%= "#{user.name.split[0]}"%>, <%= user.age %>
        <br/>
        <%= "#{user.location.split(',')[0]}"%>
        </h4>
      </div>
      <div class='mini-menu'>
        <ul>
          <li> <a href="#" class=" fa fa-check"></a> </li>
          <li> <a href="#" target="_blank" class="fa fa-times" ></a> </li>
          <li> <a href="#" target="_blank" class="fa fa-envelope" ></a> </li>
          <li class="photo"> <a href="#" class="fa fa-picture-o" ></a> </li>
          <li> <a href="#" class="fa fa-volume-up flipper" ></a> </li>
        </ul>
      </div>
      <div class='mini-profile-container'>
        <div class='mini-profile-picture-holder' data-attribute='<%= user.id %>'>
        <% user.photos.each do |photo| %>
            <% if photo.profile_picture? %>
              <%= image_tag photo.image_url, class: 'mini-profile matchee' %> 
            <% end %>
          <% end %>      
        </div>
      </div>
    </div>
    <div class='back'>
      <a href="#" class="flipper">click here to go back</a>
     <h1> I am the back </h1>
    </div>
  </div>
</div>


  

  <script>
    
  </script>













<script>

function showNext(parent, index, length) {
  if ( index === length - 1 ) {
    var next = 0
  }
  else
  {
    var next = index + 1
  }
  parent.children('img').each( function(i) {
    if ( i === next ) {
      $(this).show();
      return false
    }

  });
};


function showPrevious(parent, index, length) {
  if ( index === 0 ) {
    var next = length - 1
  }
  else
  {
    var next = index - 1
  }
  parent.children('img').each( function(i) {
    if ( i === next ) {
      
      $(this)
      return false
    }
  });
};

function orientate(image) {

  console.log(image)
  console.log(image.width() >= image.height())

  if (image.width() >= image.height()) {
    image.addClass('landscape')
  }
  else
  {
    image.addClass('portrait')
  }
};



$(document).ready(function() {

  $('li.photo').click( function(event) {

    event.preventDefault();
    var match_id = $('li.photo').parentsUntil('#mini-wrapper').find('.mini-profile-picture-holder').attr('data-attribute');
    var my_match = $('.mini-profile-picture-holder[data-attribute="' + match_id + '"]').children('img.mini-profile'); 
    var length = my_match.length

    my_match.each( function(index) {
      if ( $(this).attr('style') !== "display: none;" ) {
        $(this).hide()
        var hidden = index
        var parent = $(this).parent()
        showNext( parent, index, length )
        return false
      };
    });
  });

  $('.mini-profile-picture-holder').each( function() {

    $(this).children('img').each( function(index) {

      if ( index === 0 ) {
        orientate($(this))
        $(this).show()
      }
      else
      {
        orientate($(this))
        $(this).hide()
      }

    });
  });

  $('.flipper').click(function(e) {
      e.preventDefault()
      console.log('Flipped!!!')
      $('#mini-profile-container').children.toggleClass('flipped')
  });
 
});

</script>