<h1>
<%= @mixtape.title %>
</h1>

<% @mixtape.tracks.each do |track| %>
  
  <h2 class='cassette'><%= track.artist %></h2>
  <h3 class='cassette'><%= track.song %></h3>

<% end %>

<% user = current_user %>

<%= user.name %>

<%= user.age %>

<%= user.location %>

<%= user.gender %>

<% user.photos.each do |photo| %>

    <% if photo.profile_picture? %>

      <%= image_tag photo.image_url, class: 'profile-picture' %>

    <% end %>

<% end %>


<% if current_user.matches.any? %>

<h2> My Matches </h2>

  <% current_user.matches.each do |match| %>

    <h3><%= match.name %></h3>

  <% end %>

<% end %>